.footer {
    background-image: url("../../../public/image/png/Background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
  }
  
  .countryText {
    position: absolute;
    width: 1170px;
    height: 420px;
    left: 141px;
    top: 5932px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.05em;
  
    color: #000000;
  }
  
  .copyright {
    position: relative;
    width: 100%;
    height: 27px;
    left: 134px;
    top: 210px;
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.05em;
    color: #000000;
  }
  
  .horline {
    position: relative;
    width: 100%;
    height: 55px;
    left: 0px;
    top: 250px;
  
    background: #000000;
    opacity: 0.3;
  }