.profilePage {
  color: green;
}

.profileCard {
  /* align-items: center; */
  margin: 80px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-img-top {
  height: 15rem;
  border-radius: 5%;
  /* padding: 1% */
}
/* .card {
  padding: 15px;
  margin: 15px;
  transition: 0.7s all;
  border-radius: 15px;
} */
.card:hover {
  box-shadow: 0 0 10px 1px black;
}
