/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400'); */

* {
    margin:0;
    padding:0
}
a,a:hover{
  text-decoration: none;
}
.myform-area{
  overflow: hidden;
  padding: 60px 0;
  background: #f4fffe;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.myform-area .form-area{
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 700px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 #e1e1e1;
  
}


.myform-area .form-area .form-input{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
 
}

.myform-area .form-area .form-content{
    position: relative;
    width: 50%;
    height: 1001PX;
    float: left;
    box-sizing: border-box;

}
.myform-area .form-area .form-content{
  width: 50%;
   
  /* padding: 40px 30px; */
  /* padding-bottom: 0%; */
}

.myform-area .form-area .form-content h2{
  color: #fff;
}
.myform-area .form-area .form-content p{
  color: #fff;
}





.myform-area .form-area .form-input{
  background-color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 40px 0 #e1e1e1;
}
.myform-area .form-area .form-input{
    width: 50%;
    background: #fff;
    padding: 40px 30px;
}

.myform-area .form-area .form-input h2{
  margin-bottom: 20px;
    color: #07315B;
    padding-top: 25%;
}

.myform-area .form-area .form-input input{
    position: relative;
    height: 60px;
    padding: 20px 20px;
    /* padding-top: 10px; */
    /* display:none */
    /* appearance: text; */
}
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

  .myform-area .form-area .form-input textarea{
    height: 120px;
    padding: 20px 0;
}

.myform-area .form-area .form-input input,
.myform-area .form-area .form-input textarea{
    text-transform: capitalize;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #e1e1e1;
    color: #000000;
}
.myform-area .form-area .form-input form .form-group{
    position: relative;
}

.myform-area .form-area .form-input input:focus ~ label,
.myform-area .form-area .form-input textarea:focus ~ label,
.myform-area .form-area .form-input input:valid ~ label,
.myform-area .form-area .form-input textarea:valid ~ label{
    /* top: -5px; */
    /* opacity: 0; */
    /* left: 0; */
    /* color: rgba(103,58,183); */
    /* font-size: 12px; */
    margin: 10px 0 10px 0;
    /* color: #07315B; */
    /* font-weight: bold; */
    /* padding-top: 100px; */
}

.password{
    margin: 10px 0 10px 0;
}
.myform-area .form-area .form-input input:focus,
.myform-area .form-area .form-input textarea:focus,
.myform-area .form-area .form-input input:valid,
.myform-area .form-area .form-input textarea:valid{
    border: 2px solid rgb(219, 82, 32);
    letter-spacing: 20px;
    font-size: larger;
    /*  */
}
.myform-area .form-area .form-text{
    margin-top: 30px;
}
.myform-area .form-area .form-text span a{
    color: rgb(255, 0, 0);
}
.myform-area .form-area .myform-button{
    margin-top: 30px;
}
.myform-area .form-area .myform-button .myform-btn{
    width: 100%;
    height: 50px;
    font-size: 17px;
    background: rgb(224, 74, 33);
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.myform-area .form-area .myform-button .myform-btn:hover{
    background: #d8451d;
}

/* .imgset{
    padding-left: 0%;
    margin-left: 0%;

} */

.securitytext{
    padding-top: 20px;
    /* align-items: center; */
    text-align: center;
    text-transform: capitalize;

}

.securitylogo{

    height:18px;
    width:15px;
    /* padding-rif: 10px; */
}

.labelotp{
    padding-bottom: 20px;
    font-size: larger;
}