.background-image{
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 1;
    left: 1;
    background-repeat:no-repeat;
}

.bannerContent{
    display: flex;
    color: rgb(7, 7, 10);
    font-size: 70px;
    margin: 2px;
    font-weight: 800;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}

.tagline{
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    color: rgb(75, 17, 211);
    text-transform: capitalize;
    font-family: serif;
    display: flex;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}