.sideContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-radius: 2px solid grey;
}

.coindata{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coinHeading{
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.descriptionStyle{
    width: "100%";
    font-family: 'Montserrat', sans-serif;
    padding: 25;
    paddingBottom: 15;
    paddingTop: 0;
    textAlign: "justify";
}
