/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}


/* ========================= */
.btn-2{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.contain-reg{
    /* width: 150%; */
    /* margin-left: 0; */
    /* margin-right:0 ; */
    /* margin: 0px 0px ; */
   background-color: #1799e4;
   width: 100%;
   height: 100%;
   margin-top: 0px;
   padding-top: 0px;
}
.firstimg{
    width: 650px;
    padding: 0px;
    margin: 0px;
    height: 800px;
}

.imgside{
    width: 50%;
    /* padding:0%; */
    background-color: #314879;

 
}

.regside{
    width: 50%;
}

.clg2{
    background-color:#405D9D;
    width: 75%;
   /* align-content: center; */
   margin: auto;
    height: 900px;
}

.fnal{
    height: 800px;
    background-color: aquamarine;
}

.imgdiv{
  width: 20px;
}
.register-photo {
    background:#f1f7fc;
    padding:80px 0;
  }
  
  .register-photo .image-holder {
    display:table-cell;
    /* width:auto; */
    /* background:url(../../public/images/chirag/quick-reg.slideA.jpg); */
    /* background-size:cover; */
  }
  
  .register-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo form {
    display:table-cell;
    width:50%;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding:40px;
    }
  }
  
  .register-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:30px;
  }
  
  .register-photo form .form-control {
    background:#f7f9fc;
    /* border:none; */
    /* border-bottom:1px solid #dfe7f1; */
    border-radius:2;
    /* box-shadow:none; */
    /* outline:none; */
    /* color:inherit; */
    text-indent:6px;
    height:40px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .register-photo form .form-control:HOVER ,:active{
    color: #d25a10;
  }
  
  .register-photo form .form-check {
    font-size:13px;
    line-height:20px;
    margin-top: 30px;
  }
  
  .register-photo form .btn-primary {
    background:#FE8A4D;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:0px;
    text-shadow:none;
    outline:none !important;
    margin-bottom: 0px;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background:#eb6d3b;
  }
  
  .register-photo form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .register-photo form .already {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
.imgset{
  width: 449px;
  height: 126px;
  /* margin: 0px; */
  /* padding-bottom: 100px; */
}
  /* ================================ */
  /* .intl-tel-input {
    display: table-cell;
  }
  .intl-tel-input .selected-flag {
    z-index: 4;
  }
  .intl-tel-input .country-list {
    z-index: 5;
  }
  .input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
  } */